<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>{$title}广州蓝火文化传播有限公司</title>
<meta name="Keywords" content="4A广告公司 蓝色火焰 蓝火文化 广告策划 品牌策划 广州蓝火" />
<meta name="Description" content="广州蓝火文化传播公司（蓝色火焰广告）是老牌4A广告公司，经典案例有阿拉善SEE世界水日、爱膜逆、创维电视、中华轿车、南航、慕思家具、欧派、水美中国等" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="Public/blue.ico" />
<link href="Public/Home/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="Public/Home/css/style.css">


<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="__STATIC__/bootstrap/js/html5shiv.js"></script>
<![endif]-->
<block name="style"></block>
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="Public/Home/js/jquery-1.11.1.min.js"></script>
<script src="Public/Home/js/bootstrap.min.js"></script>
<script src="Public/Home/js/style.js"></script>
<!--<![endif]-->
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
