<extend name="Base/common"/>

<block name="header">
<div class="container">
<style type="text/css">
	.img{
		width: 100%;
	}
</style>
<img class="img" src="Public/Home/images/mp/mp-1.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-2.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-3.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-4.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-5.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-6.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-7.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-8.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-9.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-10.jpg" alt="蓝火名片">
<img class="img" src="Public/Home/images/mp/mp-11.jpg" alt="蓝火名片">

</div>

</block>
