<extend name="Base/common"/>

<block name="header">
<style type="text/css">

</style>

	<div class="container weis">
    <h3 class="txt">微电影中国</h3>
    <div class="row">

        <volist name="wei" id="vo">
        <div class="col-xs-6 col-md-3">
            <a href="__URL__/product/id/{$vo.id}.html" class="thumbnail">
                <div class="wei"><img src="__ROOT__{$vo.thumb|get_cover='path'}" style="height: 180px; width: 100%; display: block;" alt="{$vo.title}"></div>
            </a>
            <div class="caption">
                <h4>{$vo.title|strip_tags|msubstr=0,15}</h4>
            </div>  
        </div>
        </volist>

    </div>
    <div class="page">{$page}</div> 
</div>

</block>
